extends ../layouts/main-layout.pug
include ../components/add-product
include ../components/product-list

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    div
        .card.block.float-left(style="max-width: 74%; width: 100%;")
            .card__title List of products
            .card__content
                +product-list(products)
        .block.float-right(style="max-width: 25%; width:100%")
            +add-product-form
