extends ../layouts/main-layout.pug
include ../components/add-product
include ../components/product-list

block styles
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    div
        .card.inline.float-left(style="width: 70%")
            .card__title List of products
            .card__content
                +product-list(products)
        .inline.float-right
            +add-product-form
