<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Not found</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/">Shop</a></li>
                    <li class="main-header__item"><a href="/admin/product/create">Add product</a></li>
                </ul>
            </lav>
        </header>

        <main>
            <h1>Lost again</h1>
            <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a3/a3d9715c6d6f1ee001b7b41fbd5343439dae76a5_full.jpg" alt="Italian Trulli">
        </main>
    </body>
</html>