extends ../layouts/main-layout.pug
include ../components/product

block styles
    link(rel="stylesheet", href="/css/product.css")

block content 
    .grid
        each product in products
            +product-card(product.title, product.price, product.imageUrl, product.description)